Processor/test.exe
Kvadratka/kvur.exe
.vscode/settings.json
Assembler/a.exe
Assembler/test.exe
Disassembler/test.exe
Assembler/test.exe
Interpretator/test.exe
Onegin/fileSize.h.gch
Onegin/Swap.o
Stack/stack.h.gch
Stack/test.exe
Kvadratka/a.exe
Assembler/test.exe
